NODE_ENV="your-node_env"
BE_PORT="your-be_port"
API_ONLY="your-api_only"

FRONTEND_URL="your-frontend_url"

NEXT_PUBLIC_API_URL="your-next_public_api_url"

DATABASE_URL=your-database_url

SOLANA_RPC_URL="your-solana_rpc_url"
WALLET_PRIVATE_KEY=your-wallet_private_key

HELIUS_RPC_KEY="your-helius_rpc_key"
HELIUS_RPC_URL=your-helius_rpc_url

TXLINE_ENV="your-txline_env"
TXLINE_API_ORIGIN="your-txline_api_origin"
TXLINE_JWT="your-txline_jwt"
TXLINE_API_TOKEN="your-txline_api_token"
