# TxLine Config
TXLINE_API_ORIGIN="your-txline_api_origin"
TXLINE_JWT="your-txline_jwt"
TXLINE_API_TOKEN="your-txline_api_token"


# app variables
DATABASE_URL=your-database_url
BE_PORT="your-be_port"
API_ONLY="your-api_only"


# RPC variables
SOLANA_RPC_URL=your-solana_rpc_url
NEXT_PUBLIC_SOLANA_RPC_URL=your-next_public_solana_rpc_url


#wallet config
WALLET_PRIVATE_KEY=your-wallet_private_key


# Production / Deployment URLs
NEXT_PUBLIC_SITE_URL="your-next_public_site_url"
NEXT_PUBLIC_API_URL="your-next_public_api_url"
